.title_link {
  color: rgb(26, 26, 26);
  text-decoration: none;
}

.action_item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.favorite_box {
  background-color: rgb(247, 242, 204);
}

span {
  color: gray;
}
